<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmjLh8_HIU1M0gnCQLu5dGDoxrqTSjSrY</string>
	<key>GCM_SENDER_ID</key>
	<string>396938153296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperaslan.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-96edd</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-96edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396938153296:ios:7d25a70d63b6bec53a7055</string>
</dict>
</plist>